
body{
    background: url('../../almacenamiento/img/dinografia/fondo-registro-login.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}
.card-body{
    background: #228B22;
    /* background: linear-gradient(0deg, rgba(172, 240, 135, 0.854) 9%, rgb(144, 216, 240) 100%); */
}
.form-step {
    display: none;
}
.form-step-active {
    display: block;
}

.btn-verde{
    background-color: #7cc409;
    color: white;
}
.btn-verde:hover{
    background-color: #6fb104;
    color: white;

}
#progressbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    counter-reset: step;
    color: #0A2363;
    font-family: 'Century Gothic', sans-serif;
}

#progressbar li {
    list-style-type: none;
    width: 10%;
    position: relative;
    text-align: center;
    cursor: pointer;
}
/* estilos para numeros */
#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 12px;
    color: #333;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

#progressbar li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: -50%;
    top: 15px;
    z-index: -1;
}

#progressbar li:first-child::after {
    content: none;
}

#progressbar li.active::before, #progressbar li.active::after {
    background: #228B22;
    color: white;
}
h3{
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
