body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.video-item {
    display: none;
}

.video-item.active {
    display: block;
}

.container {
    position: relative;
    z-index: 1;
}

.mt-9 {
    margin-top: 9%;
}

/* Estilo para la barra de navegación fija */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px;
    /* Ajusta la altura máxima del logo */
}
/* Estilo de los botenes lecciones y ejercicios  */
.enlargable {
    transition: transform 0.3s ease; /* Animación suave */
}

.btn-lecciones:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}
.btn-ejercicios:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px;
    /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

/* Estilo para el contenido que sigue la barra de navegación */
.nav-padding {
    padding-top: 80px;
    /* Ajusta esto según la altura de tu barra de navegación */
}

.navbar-color {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5608368347338936) 9%, rgba(16, 169, 219, 1) 100%);
    border-radius: 10%"

}

/* Estilo de galeria de videos */
.carousel-item {
    text-align: center;
    padding: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #06223B;
    border-radius: 50%;
    padding: 10px;
}

/* Estilos para los botones siguiente y regresar */
.custom-control-prev-icon, 
.custom-control-next-icon {
    width: 140px; /* Ajusta según el tamaño de tus imágenes */
     /* Ajusta según el tamaño de tus imágenes */
}

.carousel-control-prev-icon {
    display: none; /* Oculta las flechas predeterminadas */
}
.carousel-control-next-icon {
    display: none; /* Oculta las flechas predeterminadas */
}



