body {
    background: url('../../almacenamiento/img/desierto/desierto-fondo.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.body-explorando-letrab {
    background: url('../../almacenamiento/img/desierto/desierto.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.navbar-color-d {
    background: rgb(230, 221, 221);


}

.mod-color {
    background: #f6fcf9;
    color: #A1420F !important;


}

.modal_tutorial {
    display: none;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
}

.modal-header {
    background-color: #E97132 !important;
    color: white !important;

}

.modal-footer {
    background-color: #E97132 !important;
}

.titulo-h1-desierto {
    font-size: 45px;
    font-weight: bold;
    color: #E97132;
    /* Color del relleno */
    -webkit-text-stroke: 2px #A1420F !important;
    /* Grosor y color del borde */
    text-align: center;

}


.titulo-h1-desierto-movil {
    font-size: 35px;
    font-weight: bold;
    color: #E97132;
    /* Color del relleno */
    -webkit-text-stroke: 2px #A1420F !important;
    /* Grosor y color del borde */
    text-align: center;

}

.texto_indicaciones_desierto {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #704004 !important;
}

.texto_indicaciones_modal {
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #A1420F !important;
}

.texto_tabla_bambu {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    color: #A1420F !important;
}

.texto-modal-bambu {
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    color: #A1420F !important;
}

.boton-regresar-desierto {
    background-color: #E97132;
    border: 2px solid white;
    /* Verde claro */
    border-radius: 20px;
    /* Bordes redondeados */
    color: #E97132;
    ;
    /* Texto blanco */
    font-family: 'Century Gothic', sans-serif;
    /* Fuente amigable */
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacio entre ícono y texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    /* Transiciones */
}

.boton-regresar-desierto:hover {
    background-color: #A1420F;
    transform: scale(1.2);
}

.boton-regresar-desierto:active {
    transform: scale(0.95);
    /* Efecto de clic */
}

.boton-regresar-desierto i {
    font-size: 20px;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
    pointer-events: none;
}

.color-fondo-d {
    background-color: #cceeeee2;
}


/* Estilos juego */
#contenedorJuego {
    display: none;
}

.texto_instrucciones_desierto {
    font-family: 'Century Gothic', sans-serif;
    color: #933705 !important;
    font-size: 1.2rem;
    text-align: justify;
}

.titulo-h2 {
    color: #A1420F !important;
    font-weight: bold;
    text-align: center;

}


.btn-play {
    background-color: #0bb362;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
    text-align: center;

}

.btn-play:hover {
    background-color: #00984F;
    transform: scale(1.2);

}

.centrar-boton {
    display: flex;
    justify-content: center;
}

@keyframes saltarE {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.saltarE {
    animation: saltarE 0.6s ease;
}

.estrella-central {
    position: fixed;
    background-color: #E97132;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    opacity: 0;
    animation: aparecerEstrella 1.5s ease forwards;
    z-index: 9999;

    transform: translate(-50%, -50%) rotate(var(--rotacion, 0deg));
}

/* Animación con escala, giro y desplazamiento */
@keyframes aparecerEstrella {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5) rotate(var(--rotacion, 0deg));
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2) rotate(var(--rotacion, 0deg));
    }

    70% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(var(--rotacion, 0deg));
    }

    100% {
        opacity: 0;
        transform: translate(calc(-50% + var(--desplazarX, 0px)), calc(-50% + var(--desplazarY, 0px))) scale(0.8) rotate(var(--rotacion, 0deg));
    }
}


.lapiz-central {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    animation: aparecerLapiz 0.5s ease;
}

.goma,
.cuerpo,
.punta {
    width: 75px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.goma {
    height: 50px;
    background-color: #ED7A92;
    border-radius: 5px 5px 0 0;
    border: 2px solid white;
    /* Contorno blanco */
    margin: 0 auto;
    /* Centrar si lo necesitas */
}

.cuerpo {
    height: 150px;
    width: 75px;
    /* Asegúrate de tener un ancho definido */
    background-color: #E97132;
    /* Verde */
    border: 2px solid white;
    /* Contorno blanco */
    border-radius: 6px;
    /* Opcional: bordes redondeados para suavizar */
    margin: 0 auto;
    /* Centrar si lo necesitas */
}


.punta {
    width: 0;
    height: 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 40px solid #FEE4A3;

}

.roto {
    opacity: 0;
    transform: scale(0);
}

@keyframes aparecerLapiz {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.texto_loading {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #A1420F !important;
}

.img_dino_coche {
    position: relative;
    margin-top: -20px;
    margin-left: 0;
    width: 20%;
}

.galeria-letrab {
    background-color: #97D3E6;
    color: #1B4965;
    font-family: 'Century Gothic', sans-serif;


    /* Verde */
}

.galeria-letrab:hover {
    background-color: #5bbedc;
    color: #1B4965;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Verde más oscuro al pasar el ratón */
}

.galeria-trazos-arena {
    background-color: #D7B468;
    color: #704004;
    font-family: 'Century Gothic', sans-serif;


    /* Verde */
}

.galeria-trazos-arena:hover {
    background-color: #dfb457;
    color: #704004;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Verde más oscuro al pasar el ratón */
}

.galeria-grafismo {
    background-color: #F8D568;
    color: #48721E;
    font-family: 'Century Gothic', sans-serif;


    /* Verde */
}

.galeria-grafismo:hover {
    background-color: rgb(229, 185, 90);
    color: #48721E;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Verde más oscuro al pasar el ratón */
}

/* estilos descubriendo palabras y mensajes */
.casilla-letra,
.casilla-palabra {
    font-family: 'Century Gothic', sans-serif !important;
    margin-top: 2%;
    font-size: 4rem;
    padding: 20px;
    width: 70px;
    height: 70px;
    background-color: #e3e8ee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.casilla-letra {
    background-color: rgb(240, 204, 178);
    color: #704004;
    cursor: move;
}

.casilla-palabra {
    background-color: #ef7532;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
}

.color_barra_coche {
    background-color: #ef7532;
}

/* elementos perdidos */
.emoji {
    font-size: 36px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD7B36;

    border-color: #933705;
    color: #0A2363;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.emoji:hover {
    background-color: #cc4b06;

    transform: scale(1.1);
}