body {
    background: url('../../almacenamiento/img/laberinto-fondo.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

/* Estilo para la barra de navegación fija */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px;
    /* Ajusta la altura máxima del logo */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px;
    /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

.navbar-color {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5608368347338936) 9%, rgba(16, 169, 219, 1) 100%);
    border-radius: 10%"

}

.body-color {
    background: rgb(67, 99, 57);
    background: linear-gradient(0deg, rgba(67, 99, 57, 1) 20%, rgba(92, 126, 79, 1) 43%, rgba(133, 179, 117, 1) 72%);
}

/* Estilo por defecto para los enlaces del menú */
.navbar-nav .nav-link {
    color: #0A2363 !important;
    /* Color de texto azul */
}

/* Estilo para los enlaces cuando se hace hover */
.navbar-nav .nav-link:hover {
    color: white !important;
    /* Color de texto blanco al hacer hover */
}

.navbar-nav .nav-link.active {
    color: white !important;
    background: #0A2363 !important;
}

.mt-15 {
    margin-top: 15%;
}

.mt-9 {
    margin-top: 9%;
}
.mt-10 {
    margin-top: 10%;
}

/* estilos laberinto */
canvas {
    border: 2px solid #5B2504;
    background-color: #c8e1a566;
}

.text-azul {
    font-family: sans-serif;
    font-size: 25px;
    color: #0A2363!important; /* Color de texto azul por defecto */
}
#play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Transición suave */
}

#play-btn:hover {
    transform: translate(-50%, -50%) scale(1.2);
    /* Agrandamiento al pasar el cursor */
}