body {
    background: url('../../almacenamiento/img/bosque_bambu/fondo_bosque_bambu.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.body-explorando-letrab {
    background: url('../../almacenamiento/img/bosque_bambu/fondo2_bosque_bambu.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.mod-color {
    background: #f6fcf9;
    color: #214524 !important;


}

.modal-header {
    background-color: #00984f !important;
    color: white !important;

}

.modal-footer {
    background-color: #00984f !important;
}

/* .titulo-h1-bambu {
    font-family: 'Century Gothic', sans-serif;
    font-size: 3rem;
    color: #00984f;
    text-shadow: 
        0 0 10px white, 
        2.2px 2.2px 0 white,
        -2.2px -2.2px 0 white; 
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
} */
.titulo-h1-bambu {
    font-size: 45px;
    font-weight: bold;
    color: #00b050;
    /* Color del relleno */
    -webkit-text-stroke: 2px #007300 !important;
    /* Grosor y color del borde */
    text-align: center;

}


.titulo-h1-bambu-movil {
    font-size: 35px;
    font-weight: bold;
    color: #00b050;
    /* Color del relleno */
    -webkit-text-stroke: 2px #007300 !important;
    /* Grosor y color del borde */
    text-align: center;

}

.texto_indicaciones_bambu {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #214524 !important;
}

.texto-modal-bambu {
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    color: #214524 !important;
}

.boton-regresar-bambu {
    background-color: #0bb362;
    border: 2px solid white;
    /* Verde claro */
    border-radius: 20px;
    /* Bordes redondeados */
    color: #00984F;
    /* Texto blanco */
    font-family: 'Century Gothic', sans-serif;
    /* Fuente amigable */
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacio entre ícono y texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    /* Transiciones */
}

.boton-regresar-bambu:hover {
    background-color: #00984F;
    transform: scale(1.2);
}

.boton-regresar-bambu:active {
    transform: scale(0.95);
    /* Efecto de clic */
}

.boton-regresar-bambu i {
    font-size: 20px;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
    pointer-events: none;
}



/* Estilos juego */
#contenedorJuego {
    display: none;
}

.texto_instrucciones_bambu {
    font-family: 'Century Gothic', sans-serif;
    color: #214524 !important;
    font-size: 1.2rem;
    text-align: justify;
}

.titulo-h2 {
    color: #214524 !important;
    font-weight: bold;
    text-align: center;

}

.indicaciones {
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #bce2f1a2;
    color: #0A2363 !important;
    text-align: center;
}

#contenedorLetras,
#contenedorPalabra {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.casilla-letra,
.casilla-palabra {
    font-family: sans-serif;
    margin-top: 2%;
    font-size: 4rem;
    padding: 20px;
    width: 70px;
    height: 70px;
    background-color: #e3e8ee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.casilla-letra {
    background-color: rgb(189, 239, 182);
    color: #214524;
    cursor: move;
}

.casilla-palabra {
    background-color: #00984F;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
}


.casilla-palabra.error {
    border-color: #e74c3c;
    background-color: red;
}

.emoji {
    font-size: 2.5rem;
}

#emojiPalabra img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.btn-play {
    background-color: #0bb362;
    border: 2px solid white;
    padding: 10px 20px;
    transition: background-color 0.2s, transform 0.2s;
    text-align: center;

}

.btn-play:hover {
    background-color: #00984F;
    transform: scale(1.2);

}

.centrar-boton {
    display: flex;
    justify-content: center;
}

@keyframes saltarE {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.saltarE {
    animation: saltarE 0.6s ease;
}

.estrella-central {
    position: fixed;
    background-color: #00984F;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    opacity: 0;
    animation: aparecerEstrella 1.5s ease forwards;
    z-index: 9999;

    transform: translate(-50%, -50%) rotate(var(--rotacion, 0deg));
}

/* Animación con escala, giro y desplazamiento */
@keyframes aparecerEstrella {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5) rotate(var(--rotacion, 0deg));
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2) rotate(var(--rotacion, 0deg));
    }

    70% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(var(--rotacion, 0deg));
    }

    100% {
        opacity: 0;
        transform: translate(calc(-50% + var(--desplazarX, 0px)), calc(-50% + var(--desplazarY, 0px))) scale(0.8) rotate(var(--rotacion, 0deg));
    }
}


.lapiz-central {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    animation: aparecerLapiz 0.5s ease;
}

.goma,
.cuerpo,
.punta {
    width: 40px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.goma {
    height: 20px;
    background-color: #00984F;
    border-radius: 5px 5px 0 0;
    border: 2px solid white;
    /* Contorno blanco */
    margin: 0 auto;
    /* Centrar si lo necesitas */
}

.cuerpo {
    height: 60px;
    width: 40px;
    /* Asegúrate de tener un ancho definido */
    background-color: #00984F;
    /* Verde */
    border: 2px solid white;
    /* Contorno blanco */
    border-radius: 6px;
    /* Opcional: bordes redondeados para suavizar */
    margin: 0 auto;
    /* Centrar si lo necesitas */
}


.punta {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid #00984F;

}

.roto {
    opacity: 0;
    transform: scale(0);
}

@keyframes aparecerLapiz {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.texto_loading {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    font-size: 2em; 
    font-weight: bold;
    text-align: center;
    color: #214524 !important;
}

.img_dino_coche{
    position: relative; 
    margin-top: -20px; 
    margin-left: 0; 
    width: 20%;
}