body {
    background: url('../../almacenamiento/img/laberinto-fondo.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.mt-12 {
    margin-top: 12%;
}

/* Estilo para la barra de navegación fija */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}
/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem; /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px; /* Ajusta la altura máxima del logo */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem; /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px; /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

/* Estilo para el contenido que sigue la barra de navegación */
.nav-padding {
    padding-top: 80px;
    /* Ajusta esto según la altura de tu barra de navegación */
}

.navbar-color {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5608368347338936) 9%, rgba(16, 169, 219, 1) 100%);
    border-radius: 10%"

}
/* Estilos de los botones para realizar transición */
.enlargable {
    transition: transform 0.3s ease; /* Animación suave */
}

.btn-transicion:hover .enlargable {
    transform: scale(1.3); /* Escala la imagen al 140% */
}

