/* Estilo para la barra de navegación fija */
.body-dinografia {
    background: url('../../almacenamiento/img/dinografia/fondo-registro-login.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.body-aventuras_del_trazo {
    background: url('../../almacenamiento/img/dinografia/dinografia-fondo.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.mt-8 {
    margin-top: 8%;
}

.mt-6 {
    margin-top: 6%;
}

.mt-9 {
    margin-top: 9%;
}

.mt-10 {
    margin-top: 10%;
}

.mt-15 {
    margin-top: 15%;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px;
    /* Ajusta la altura máxima del logo */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px;
    /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

/* Estilo para el contenido que sigue la barra de navegación */
.nav-padding {
    padding-top: 80px;
    /* Ajusta esto según la altura de tu barra de navegación */
}

.navbar-color {
    /* background: linear-gradient(0deg, rgba(248, 246, 246, 0.443) 5%, rgba(16, 169, 219, 1) 100%); */
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(123, 206, 234, 0.836) 9%, rgba(174, 217, 231, 0.927) 100%);

}

.navbar-toggler {
    background-color: #fc6675 !important;
    color: white !important;
}

.floating-buttons {
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.floating-buttons .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

/* Incluye la fuente si no está instalada */
.tipografia {
    font-family: 'Century Gothic', sans-serif;
}

h2 {
    color: #F5F5F5 !important;
    font-family: 'Century Gothic', sans-serif;

}


.boton-regresar {
    background-color: #103592;
    border: 2px solid #C6E6D8;
    /* Verde claro */
    border-radius: 20px;
    /* Bordes redondeados */
    color: white;
    /* Texto blanco */
    font-family: 'Century Gothic', sans-serif;
    /* Fuente amigable */
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacio entre ícono y texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    /* Transiciones */
}

.boton-regresar:hover {
    background-color: #283557;
    /* Verde más oscuro al pasar el cursor */
    transform: scale(1.2);
    /* Animación al pasar el cursor */
}

.boton-regresar:active {
    transform: scale(0.95);
    /* Efecto de clic */
}

.boton-regresar i {
    font-size: 20px;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
    pointer-events: none;
}


.boton-cerrar-sesion {
    background-color: #fc6675;
    /* Verde pastel */
    border: 2px solid #C6E6D8;
    /* Verde claro */
    border-radius: 20px;
    /* Bordes redondeados */
    color: white;
    /* Texto blanco */
    font-family: 'Century Gothic', sans-serif;
    /* Fuente amigable */
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacio entre ícono y texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    /* Transiciones */
}

.boton-cerrar-sesion:hover {
    background-color: rgb(248, 62, 62);
    /* Verde más oscuro al pasar el cursor */
    transform: scale(1.2);
    /* Animación al pasar el cursor */
    color: white;
    /* Texto blanco */
}

.boton-cerrar-sesion:active {
    transform: scale(0.95);
    /* Efecto de clic */
}

.boton-cerrar-sesion i {
    font-size: 20px;
    /* Tamaño del ícono */
    color: white;
    /* Color del ícono */
}


.contenedor-instrucciones {
    background: #003366f5;
    /* background: linear-gradient(0deg, rgba(172, 240, 135, 0.854) 9%, rgb(144, 216, 240) 100%); */
    border-radius: 2%;
}

/* .titulo-h1-azul {
    font-family: 'Century Gothic', sans-serif;
    font-size: 3rem;
    color: skyblue;
    text-shadow: 
        0 0 10px #003366f5,  
        2px 2px 0 #003366f5,  
        -2px -2px 0 #003366f5;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
} */
.titulo-h1-azul {
    font-size: 48px;
    font-weight: bold;
    color: skyblue;
    /* Color del relleno */
    -webkit-text-stroke: 2px #0f3491;
    /* Grosor y color del borde */
    text-align: center;

}

.titulo-h1-azul-movil {
    font-size: 35px;
    font-weight: bold;
    color: skyblue;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(123, 206, 234, 0.836) 9%, rgba(174, 217, 231, 0.927) 100%);
    /* Color del relleno */
    -webkit-text-stroke: 2px #0f3491;
    /* Grosor y color del borde */
    text-align: center;

}

.texto-dino-habla {
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
    color: #0A2363 !important;
    font-weight: bold;

}

.texto-modal {
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #0A2363 !important;
    font-weight: 500;

}

.texto_instrucciones {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    text-align: justify;
    color: #d7dadf !important;
}

.texto_indicaciones {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #0A2363 !important;
}

.text-parrafo {
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    color: #F5F5F5 !important;
    text-align: justify;
    hyphens: auto;
}

/* Animación de hablar */
.dino-hablando {
    animation: hablar 0.5s infinite ease-in-out;
    cursor: pointer;
}

@keyframes hablar {
    0% {
        transform: rotate(-10deg) translateX(-5px);
    }

    50% {
        transform: rotate(-4deg) translateX(-2px);
        /* Punto intermedio suave */
    }

    100% {
        transform: rotate(-10deg) translateX(-5px);
        /* Regresa al inicio sin pausa */
    }
}


/* Animación de hablar */
.boton-animacion-pulso {
    animation: pulso 0.6s infinite alternate ease-in-out;
    cursor: pointer;
}

@keyframes pulso {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Cambiar a animación de alargamiento al pasar el cursor */
/* Animación de alargamiento al pasar el cursor */
.boton-animacion-pulso:hover {
    animation: stretch 0.5s forwards;
}

/* Animación de alargamiento */
@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 0.9);
        /* Ligeramente más largo y estrecho */
    }

    100% {
        transform: scale(2, 2);
        /* Aumento suave, sin distorsionar */
    }
}

.enlargable {
    cursor: pointer;
    transition: transform .2s;
}

.enlargable:hover {
    transform: scale(1.5);
}

.btn-transicion:hover .enlargable {
    transform: scale(1.3);
    cursor: pointer;

    /* Escala la imagen al 140% */
}

/* Aplicar animación inicial (saltos) */
.animated-button,
.animated-button2 {
    animation: bounce 2s infinite;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    /* Asegura que los botones tengan contexto de apilamiento */
}

/* Animación de salto para el primer botón */
@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/* Animación de salto para el segundo botón */
@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.animated-button:hover {
    transform: scale(1.5);
    animation: none;
    /* Desactiva la animación de salto al hacer hover */
    z-index: 2;
    /* El primer botón se coloca encima */
}

.animated-button2:hover {
    transform: scale(1.5);
    animation: none;
    /* Desactiva la animación de salto al hacer hover */
    z-index: 2;
    /* El segundo botón se coloca encima */
}

/* Si los botones no están seleccionados, uno debe estar debajo */
.animated-button:not(:hover) {
    z-index: 1;
    /* El primer botón estará debajo cuando no esté en hover */
}

.animated-button2:not(:hover) {
    z-index: 1;
    /* El segundo botón estará debajo cuando no esté en hover */
}

/* Comienza los etilos para el trazo de las letras b, d, p y q */
#fondo-letra {
    position: absolute;
    width: 100%;
    height: 300px;
    /* Altura fija igual a la del lienzo */
    z-index: -1;
    /* Asegura que esté detrás del lienzo */
}

/* Estilos para los botones */
@keyframes parpadeo {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.boton-parpadeo {
    animation: parpadeo 0.5s linear;
}

@keyframes pulsoLapiz {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
    }
}

.btn-color-desact {
    background: conic-gradient(from 0deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8a2be2, #ff0000);
    color: white !important;
}

#botonColor.btn-color-inactive {
    background: conic-gradient(from 0deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8a2be2, #ff0000);
    color: white !important;
    font-weight: bold;
}

#botonColor.btn-color-inactive:hover {
    color: white !important;
}

.btn-lapiz-desact {
    background-color: #0D6EFD;
    color: white !important;
}

#lapiz.btn-lapiz-inactive {
    background-color: #0D6EFD;
    color: white !important;
    animation: pulsoLapiz 1.5s infinite;
}

#lapiz.btn-lapiz-inactive:hover {
    background-color: #0B5ED7;
}

#lapiz.btn-lapiz-active {
    background-color: #0D6EFD;
    color: white !important;
    animation: none;
}

.cursor-lapiz {
    cursor: pointer;
}

.btn-limpiar-desact {
    background-color: rgb(248, 62, 62);
    color: white !important;
}

#limpiar.btn-limpiar-inactive {
    background-color: rgb(243, 88, 88);
    color: white !important;

}

#limpiar.btn-limpiar-inactive:hover {
    background-color: rgb(248, 62, 62);
    color: white !important;
}

.btn-guardar-desact {
    background-color: orange;
    color: white !important;
}

#guardar.btn-guardar-inactive {
    background-color: orange;
    color: white !important;
    /* animation: glow 1.5s infinite; */
}

#guardar.btn-guardar-inactive:hover {
    background-color: rgb(240, 160, 12);

}

#toggleLetraB.btn-toggle-active {
    background-color: rgb(117, 237, 36);
    color: white;
}

#toggleLetraB.btn-toggle-active:hover {
    background-color: rgb(98, 217, 19);
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ffd700;
    }

    50% {
        box-shadow: 0 0 20px #ffd700;
    }

    100% {
        box-shadow: 0 0 5px #ffd700;
    }
}



/* Estilos para el video */
video {
    width: 100%;
    height: 300px;
}

/*Terminan los etilos para el trazo de las letras b, d, p y q */

/* ====================================================================================== */

/* Aqui empiezan los estilos de trazos en la arena de las letras b, d, p y q */
#lienzo {
    border: 10px solid #D5A152;
    background-color: #D7B468;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    touch-action: none;
    /* Desactiva gestos táctiles predeterminados */
}

/* Aqui terminan los estilos de trazos en la arena de las letras b, d, p y q */

/* ===================================================================================== */

/* Inicio de estilos para la seccion de grafismo b, d, p yq  */
#fondo-letrab {
    margin-left: 19%;
    position: absolute;
    width: 800px;
    height: 400px;
    z-index: -1;
    /* Asegura que esté detrás del lienzo */
}

#canvas-grafismo {
    position: relative;
    z-index: 1;
    /* Asegura que el lienzo esté delante de la imagen de fondo */
    width: 800px;
    height: 400px;
}

#entradaImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Asegura que esté visible encima del canvas */
    opacity: 0.8;
    /* Opcional: haz que el selector de archivo sea semitransparente */
}
/* Estilos generales para los botones */
button {
    font-size: 18px;
    /* Aumenta el tamaño de la fuente */
    padding: 15px 30px;
    /* Aumenta el padding para hacerlo más grande */
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra los íconos y texto */
}

button i {
    font-size: 24px;
    /* Aumenta el tamaño de los íconos */
}

/* Botón "Verificar" */
.verificar {
    background-color: #28a745;
    color: white;
    font-family: 'Century Gothic', sans-serif;


    /* Verde */
}

.verificar:hover {
    background-color: #218838;
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Verde más oscuro al pasar el ratón */
}

/* Fin de estilos para la seccion de grafismo b, d, p yq  */
/* Botón "Saltar" */
.saltar {
    background-color: #ecb309;
    color: rgb(248, 248, 248);
    font-family: 'Century Gothic', sans-serif;


    /* Amarillo */
}

.saltar:hover {
    background-color: #c79705;
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Amarillo más oscuro al pasar el ratón */
}

/* Botón "Finalizar" */
.finalizar {
    color: white;
    background-color: #dc3545;
    font-family: 'Century Gothic', sans-serif;


    /* Rojo */
}

.finalizar:hover {
    background-color: #c82333;
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;


    /* Rojo más oscuro al pasar el ratón */
}

/* Botón "Reiniciar" */
.reiniciar {
    background-color: #007bff;
    color: white;
    font-family: 'Century Gothic', sans-serif;


    /* Azul */
}

.reiniciar:hover {
    background-color: #0069d9;
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;



    /* Azul más oscuro al pasar el ratón */
}

.color-fondo {
    background-color: #cceee288;
}

#mensaje {
    font-family: 'Century Gothic', sans-serif !important;
    margin-top: 1%;
}

.correcto {
    color: white !important;
    font-weight: bold;
    background-color: #2bbe23e5;
    font-size: 1.4rem;
    text-align: center;
}

.incorrecto {
    color: white !important;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(249,125,0);
}

