body {
    background: url('../../almacenamiento/img/letra-p/playa.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

/* Estilo para la barra de navegación fija */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px;
    /* Ajusta la altura máxima del logo */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px;
    /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

.navbar-color {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5608368347338936) 9%, rgba(16, 169, 219, 1) 100%);
    border-radius: 10%"

}

.body-color {
    background: rgb(67, 99, 57);
    background: linear-gradient(0deg, rgba(67, 99, 57, 1) 20%, rgba(92, 126, 79, 1) 43%, rgba(133, 179, 117, 1) 72%);
}

/* Estilo por defecto para los enlaces del menú */
.navbar-nav .nav-link {
    color: #0A2363 !important;
    /* Color de texto azul */
}

/* Estilo para los enlaces cuando se hace hover */
.navbar-nav .nav-link:hover {
    color: white !important;
    /* Color de texto blanco al hacer hover */
}

.navbar-nav .nav-link.active {
    color: white !important;
    background: #0A2363 !important;
}

.mt-15 {
    margin-top: 15%;
}

.mt-8 {
    margin-top: 8.9%;
}
.mt-10 {
    margin-top: 10%;
}
/* Estilo de los botenes lecciones y ejercicios  */
.enlargable {
    transition: transform 0.3s ease; /* Animación suave */
}

.btn-lecciones:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}
.btn-ejercicios:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}
/* Estilos del lienzo, ("pizarra para dibujar") */

#canvas {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

#fondo-letrab {
    position: absolute;
    width: 100%;
    height: 300px;
    /* Altura fija igual a la del lienzo */
    z-index: -1;
    /* Asegura que esté detrás del lienzo */
}

#canvas {
    position: relative;
    z-index: 1;
    /* Asegura que el lienzo esté delante de la imagen de fondo */
    width: 100%;
    height: 300px;
    /* Altura fija igual a la de la imagen de fondo */
}

/* Estilos para los botones */
@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.boton-parpadeo {
    animation: parpadeo 0.5s linear;
}

#goma.btn-goma-inactive {
    background-color: grey;
    color: white;
}

#goma.btn-goma-active {
    background-color: blue;
    color: white;
}

#limpiar.btn-limpiar-active {
    background-color: grey;
    color: white;
}

#limpiar.btn-limpiar-inactive {
    background-color: red;
    color: white;
}

#alternar-fondo.btn-toggle-active {
    background-color: yellow;
    color: black;
}

#alternar-fondo.btn-toggle-inactive {
    background-color: grey;
    color: white;
}

#lapiz.btn-lapiz-inactive {
    background-color: grey;
    color: white;
}

#lapiz.btn-lapiz-active {
    background-color: green;
    color: white;
}
#guardar.btn-guardar-active {
    background-color: grey;
    color: white;
}

#guardar.btn-guardar-inactive {
    background-color: orange;
    color: white;
}
/* Estilos para el video */
video {
    width: 100%;
    height: 300px;
}
