body {
    background: url('../../almacenamiento/img/letra-b/bambu-fondo.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

/* Estilo para la barra de navegación fija */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 0.5rem 1rem;
    /* Ajusta el relleno superior e inferior y los márgenes horizontalmente */
}

/* Estilo para el logo (navbar-brand) */
.navbar-brand img {
    max-height: 40px;
    /* Ajusta la altura máxima del logo */
}

/* Estilo para los elementos de navegación (navbar-nav) */
.navbar-nav .nav-link {
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    /* Ajusta el relleno de los enlaces de navegación */
    font-size: 20px;
    /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

.navbar-color {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5608368347338936) 9%, rgba(16, 169, 219, 1) 100%);
    border-radius: 10%"

}

.body-color {
    background: rgb(67, 99, 57);
    background: linear-gradient(0deg, rgba(67, 99, 57, 1) 20%, rgba(92, 126, 79, 1) 43%, rgba(133, 179, 117, 1) 72%);
}

/* Estilo por defecto para los enlaces del menú */
.navbar-nav .nav-link {
    color: #0A2363 !important;
    /* Color de texto azul */
}

/* Estilo para los enlaces cuando se hace hover */
.navbar-nav .nav-link:hover {
    color: white !important;
    /* Color de texto blanco al hacer hover */
}

.navbar-nav .nav-link.active {
    color: white !important;
    background: #0A2363 !important;
}

.mt-15 {
    margin-top: 15%;
}

.mt-8 {
    margin-top: 8.9%;
}
.mt-10 {
    margin-top: 10%;
}
/* Estilo de los botenes lecciones y ejercicios  */
.enlargable {
    transition: transform 0.3s ease; /* Animación suave */
}

.btn-lecciones:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}
.btn-ejercicios:hover .enlargable {
    transform: scale(1.4); /* Escala la imagen al 140% */
}

/* estilos laberinto */

.maze-container {
    display: grid;
    margin: 20px auto;
    border: 2px solid #000;
    max-width: 100%;
    max-height: 400px;
}

.game-info {
    margin-top: 20px;
}

.level-selector {
    margin-top: 20px;
}

.maze-cell {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.player {
    background-color: blue;
}

.wall {
    background-color: black;
}

/* estilos galeria b */
.bg-bueno{
    background-color: rgb(75, 229, 75) !important;
    color: #0A2363!important;
}

.bg-regular{
    background-color: rgb(255, 255, 0) !important;
    color: #0A2363!important;;
}

.bg-malo{
    background-color: rgb(252,75,8) !important;
    color: white!important;
}

.bg-{
    background-color: rgb(255, 255, 255) !important;
}

/* estilos card  */
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    background-color: rgba(252, 248, 248, 0);
    border: rgba(255, 0, 0, 0);
    position: relative;
    cursor: pointer;
}

.container .card .cara{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    background-color: white;
}

.container .card .cara.cara1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .cara.cara1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .cara.cara1 .content{
    transition: 0.5s;
}

.container .card:hover .cara.cara1 .content{
    opacity: 1;
}



.container .card .cara.cara1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .cara.cara2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .cara.cara2{
    transform: translateY(0);
}

.container .card .cara.cara2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .cara.cara2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 5px;
}

.bueno a:hover{
    background: rgb(75, 229, 75) !important;
    color: white!important;
}

.regular a:hover{
    background: yellow !important;
    color: #0A2363!important;
}
.malo a:hover{
    background: rgb(252,75,8) !important;
    color: white!important;
}

.card{
  border: 1px solid rgb(255, 255, 255);
}
.texto-azul{
    text-align: justify;
    color: #0A2363!important;
}
.texto-verde{
    text-align: justify;
    color: green!important;
}
.texto-amarillo{
    text-align: justify;
    color: rgb(232, 157, 29)!important;
}
.texto-naranja{
    text-align: justify;
    color: rgb(252,75,8) !important;
}