body {
    background: url('../../almacenamiento/img/dinografia/fondo-registro-login.png') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.text-parrafo {
    font-family: sans-serif;
    font-size: 20px;
    color: #0A2363 !important;
    background: rgb(163, 218, 151);
    background: linear-gradient(0deg, rgba(172, 240, 135, 0.537) 9%, rgba(144, 216, 240, 0.945) 100%);
    border-radius: 2%;
    text-align: justify;
    hyphens: auto;
}
