.color-fondo {
    background-color: #cceee288;
}

#contenedorJuego {
    display: none;
    /* flex-direction: column;
    align-items: center;
    margin-top: 20px; */
}

#contenedorPalabras,
#contenedorOracion {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.casilla-letra,
.casilla-palabra {
    font-family: 'Century Gothic', sans-serif !important;
    margin-top: 2%;
    font-size: 1.6rem;
    padding: 20px;
    width: 140px;
    height: 90px;
    background-color: rgb(240,204,178);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.casilla-letra {
    background-color: rgb(240,204,178);
    color: #704004;
    cursor: move;
}

.casilla-palabra {
    font-size: 1.4rem;
    background-color: #ef7532;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
}


.casilla-palabra.error {
    border-color: #e74c3c;
    background-color: red;
}

.emoji {
    font-size: 2.5rem;
}


/* button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}