#area {
    position: relative;
    width: 1000px;
    height: 380px;
    /* background-color: red; */
    /* background-color: rgba(173, 216, 230, 0.288); */
    overflow: hidden;
    display: flex;
}

#contenedorJuego {
    display: none;
    /* position: relative; */
}


h1 {
    color: #0A2363;
    margin-top: 20px;
    text-align: center;
}

.hoja-img {
    position: absolute;
    display: none;
    transition: all 0.5s ease;
    /* Para hacer que el movimiento sea más suave */
}

.enlargable {
    cursor: pointer;
    transition: transform .2s;
}

.enlargable:hover {
    transform: scale(1.5);
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}