
#contenedorJuego {
    display: none;
}

/* Estilos generales para los botones */
button {
    font-size: 18px;  /* Aumenta el tamaño de la fuente */
    padding: 15px 30px;  /* Aumenta el padding para hacerlo más grande */
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centra los íconos y texto */
}

button i {
    font-size: 24px;  /* Aumenta el tamaño de los íconos */
}

/* Botón "Saltar" */
.saltar {
    background-color: #ffc107;
    color: white;
    /* Amarillo */
}

.saltar:hover {
    background-color: #e0a800;
    color: white;
    /* Amarillo más oscuro al pasar el ratón */
}

/* Botón "Finalizar" */
.finalizar {
    color: white;
    background-color: #dc3545;
    /* Rojo */
}

.finalizar:hover {
    background-color: #c82333;
    color: white;
    /* Rojo más oscuro al pasar el ratón */
}

/* Botón "Reiniciar" */
.reiniciar {
    background-color: #007bff;
    color: white;
    /* Azul */
}

.reiniciar:hover {
    background-color: #0069d9;
    color: white;
    /* Azul más oscuro al pasar el ratón */
}

/* 
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} */

#instruccion {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #bce2f1a2;

}

.contenedor-figuras {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.figura {
    font-size: 4rem;
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    /* line-height: 60px; */
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    background-color: rgb(188, 226, 241);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

/* Efecto cuando el cursor pasa por encima de la figura */
.figura:hover {
    background-color: skyblue;
    transform: scale(1.1);
}

/* Para selección correcta */
.figura.correcto {
    background-color: #2ecc71 !important;
    /* Verde */
    animation: correctFlash 0.5s;
}

/* Para selección incorrecta */
.figura.incorrecto {
    background-color: #e74c3c !important;
    /* Rojo */
    animation: incorrectFlash 0.5s;
}

/* Animación de destello para la selección correcta */
@keyframes correctFlash {
    0% {
        background-color: #2ecc71;
    }

    50% {
        background-color: #27ae60;
    }

    100% {
        background-color: #2ecc71;
    }
}

/* Animación de destello para la selección incorrecta */
@keyframes incorrectFlash {
    0% {
        background-color: #e74c3c;
    }

    50% {
        background-color: #c0392b;
    }

    100% {
        background-color: #e74c3c;
    }
}

/* Efecto de clic en la figura */
.figura:active {
    transform: scale(0.95);
}


#mensaje {
    font-size: 1.2rem;
    margin-top: 20px;
}
.correcto {
    color: white  !important;
    font-weight: bold;
    background-color: #2bbe23e5;
    text-align: center;
}

.incorrecto {
    color: white  !important;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.584);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.instrucciones {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #0A2363 !important;
    text-align: justify;
    background-color: #bce2f1a2;

    /* Color de texto azul por defecto */
}
.indicaciones {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #0A2363 !important;
    /* Color de texto azul por defecto */
}
.color-fondo
{
    background-color: #cceee288;
}

h1{
    text-align: center;
}