#contenedorJuego {
    display: none;
}
.areaJuegoObjetos {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
    /* width: 90%; */
    /* max-width: 600px; */
    /* align-items: center; */
}

.emoji {
    font-size: 36px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(188, 226, 241);
    color: #0A2363;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}
.emoji:hover {
    background-color: skyblue;
    transform: scale(1.1);
}

.emoji.correcto {
    background-color: #2ecc71;
    animation: correctFlash 0.5s;
}

.emoji.incorrecto {
    background-color: #e74c3c;
    animation: incorrectFlash 0.5s;
}

@keyframes correctFlash {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes incorrectFlash {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

#mensaje {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-top: 2%;
}
.correcto {
    color: white  !important;
    font-weight: bold;
    background-color: #2bbe23e5;
    text-align: center;
}

.incorrecto {
    color: white  !important;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.584);
}

#objetivoEmoji {
    font-family: 'Century Gothic', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #214524 !important;
}

.instrucciones {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #0A2363 !important;
    text-align: justify;
    /* Color de texto azul por defecto */
}

h1 {
    color: #0A2363 ;
    margin-top: 20px;
    text-align: center;
}


#siguienteNivel {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3498db;
}

#objetoRecolectado {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}
/* Estilos generales para los botones */
button {
    font-size: 18px;  /* Aumenta el tamaño de la fuente */
    padding: 15px 30px;  /* Aumenta el padding para hacerlo más grande */
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centra los íconos y texto */
}

button i {
    font-size: 24px;  /* Aumenta el tamaño de los íconos */
}

/* Botón "Saltar" */
.saltar {
    background-color: #ffc107;
    color: white;
    /* Amarillo */
}

.saltar:hover {
    background-color: #e0a800;
    color: white;
    /* Amarillo más oscuro al pasar el ratón */
}

/* Botón "Finalizar" */
.finalizar {
    color: white;
    background-color: #dc3545;
    /* Rojo */
}

.finalizar:hover {
    background-color: #c82333;
    color: white;
    /* Rojo más oscuro al pasar el ratón */
}

/* Botón "Reiniciar" */
.reiniciar {
    background-color: #007bff;
    color: white;
    /* Azul */
}

.reiniciar:hover {
    background-color: #0069d9;
    color: white;
    /* Azul más oscuro al pasar el ratón */
}

.color-fondo
{
    background-color: #cceee288;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}