h1 {
    font-size: 2rem;
}

.areaJuegoMemorama {
    display: grid;
    gap: 10px;
    justify-content: center;
    /* margin-top: 30px; */
}
#contenedorJuego {
    display: none;
}

.tarjeta {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.tarjeta.volteada {
    background-color: #ecf0f1;
}

#mensaje {
    font-size: 1.5rem;
    font-weight: bold;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Botón "Finalizar" */
.finalizar {
    color: white;
    background-color: #dc3545;
    /* Rojo */
}

.finalizar:hover {
    background-color: #c82333;
    color: white;
    /* Rojo más oscuro al pasar el ratón */
}

/* Botón "Reiniciar" */
.reiniciar {
    background-color: #007bff;
    color: white;
    /* Azul */
}

.reiniciar:hover {
    background-color: #0069d9;
    color: white;
    /* Azul más oscuro al pasar el ratón */
}