#contenedorJuego {
    display: none;
    /* flex-direction: column;
    align-items: center;
    margin-top: 20px; */
}

#contenedorLetras,
#contenedorPalabra {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.casilla-letra,
.casilla-palabra {
    font-family: sans-serif;
    margin-top: 2%;
    font-size: 4rem;
    padding: 20px;
    width: 70px;
    height: 70px;
    background-color: #e3e8ee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.casilla-letra {
    background-color: rgb(188, 226, 241);
    color: #0A2363;
    cursor: move;
}

.casilla-palabra {
    background-color:  skyblue;
    color: #0A2363;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
}


.casilla-palabra.error {
    border-color: #e74c3c;
    background-color: red;
}

.emoji {
    font-size: 2.5rem;
}

#emojiPalabra img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#mensaje {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-top: 1%;
}

.correcto {
    color: white  !important;
    font-weight: bold;
    background-color: #2bbe23e5;
    text-align: center;
}

.incorrecto {
    color: white  !important;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.584);
}

/* Estilos generales para los botones */
button {
    font-size: 18px;  /* Aumenta el tamaño de la fuente */
    padding: 15px 30px;  /* Aumenta el padding para hacerlo más grande */
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;  /* Centra los íconos y texto */
}

button i {
    font-size: 24px;  /* Aumenta el tamaño de los íconos */
}

/* Botón "Verificar" */
.verificar {
    background-color: #28a745;
    color: white;
    /* Verde */
}

.verificar:hover {
    background-color: #218838;
    color: white;
    /* Verde más oscuro al pasar el ratón */
}

/* Botón "Saltar" */
.saltar {
    background-color: #ffc107;
    color: white;
    /* Amarillo */
}

.saltar:hover {
    background-color: #e0a800;
    color: white;
    /* Amarillo más oscuro al pasar el ratón */
}

/* Botón "Finalizar" */
.finalizar {
    color: white;
    background-color: #dc3545;
    /* Rojo */
}

.finalizar:hover {
    background-color: #c82333;
    color: white;
    /* Rojo más oscuro al pasar el ratón */
}

/* Botón "Reiniciar" */
.reiniciar {
    background-color: #007bff;
    color: white;
    /* Azul */
}

.reiniciar:hover {
    background-color: #0069d9;
    color: white;
    /* Azul más oscuro al pasar el ratón */
}

.color-fondo
{
    background-color: #cceee288;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}