#contenedorLetras,
#contenedorPalabra {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.casilla-palabra.error {
    border-color: #e74c3c;
    background-color: red;
}

.emoji {
    font-size: 2.5rem;
}

#emojiPalabra img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

